body {
    font-size: 18px;
}
/* Heading styling */
h1 {
    text-align: center;
}
/* Flex container */
.container {
    background-color: turquoise;
    display: flex;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
/* Table styling */
.table {    
    max-width: 100%;
    
}

.row {
    width: 100%;
}
/* Element card styling */
.element {
    border: 1px solid black;
    text-align: center;
    flex: 1 1 auto ;
}
/* Atomic number styling */
.number {
    text-align: center;
    font-size: 10px;
}
/* Symbol styling */
.symbol {
    font-size: 20px;
    font-weight: bold;
}
/* Element name styling */
.name {
    font-size: 10px;
}
/* Spacer padding */
.spacer {
    height: 30px;
}
/* Elemnt card colour statements */
.cyan {
    background-color: #C6FFFF;
}

.hawkes_blue {
    background-color: #C4DDFF;
}

.humming_bird {
    background-color: #CDFFEC;
}

.mint {
    background-color: #CFFFC9;
}

.moss {
    background-color: #E2EFC8;
}

.yellow {
    background-color: #ffffcd;
}

.lilac {
    background-color: #D2D3FF;
}

.peach {
    background-color: #FFE3C4;
}

.salmon {
    background-color: #FFCFCC;
}
/* Defining media breakpoints and display variations on different screen sizes */
@media screen and (min-width:1123px) {
    .container {
        display: block;
    }

    
    .image-container {
        display: none;
    }
}

@media screen and (min-width:920px) and (max-width:1123px){
    .container {
        display: block;
    }

    .name {
        font-size: 8px;
    }

    .image-container {
        display: none;
    }
}

@media screen and (min-width:767px) and (max-width:920px){
    .container {
        display: block;
    }

    .name {
        display: none;
    }

    .image-container {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .container {
        display: none;
    }

    
    .image-container {
        display: block;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    img {
        width: 100%;
        height: auto;
    }
}