body {
    font-size: 18px;
}

.container {
    display: flexbox;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.element {
    border: 1px solid black;
    text-align: center;

}

.blank {
    background-color: plum;
}

.number {
    text-align: center;
    font-size: 10px;
}

.symbol {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 10px;
}