body {
    font-size: 18px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.table {    
    width: 100%;
}

.main {
    width: 100vw;
}

.element {
    border: 1px solid black;
    text-align: center;
    max-width: 50px;
}

.number {
    text-align: center;
    font-size: 10px;
}

.symbol {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 10px;
}

.spacer {
    height: 30px;
}

.mint {
    background-color: #CFFFC9;
}

.moss {
    background-color: #E2EFC8;
}

.yellow {
    background-color: #ffffcd;
}

.lilac {
    background-color: #D2D3FF;
}

.peach {
    background-color: #FFE3C4;
}

.salmon {
    background-color: #FFCFCC;
}

@media screen and (max-width:1200px) {
    .main {
        display: none;
    }

    .image-container {
        display: block;
    }

    img {
        max-width: 90%;
        height: auto;
    }
}

@media screen and (min-width:1200px){
    .main {
        display: block;
    }

    .image-container {
        display: none;
    }
}